<h1>첫 페이지입니다.</h1> 

<form action="/attack" method="get">
  공격자: <input type="text" name="userA"><br>
  방어자: <input type="text" name="userB"><br>
  <input type="submit" value="공격">
</form> 

<form action="/defense" method="get">
  공격자: <input type="text" name="userC"><br>
  방어자: <input type="text" name="userD"><br>
  <input type="submit" value="방어">
</form>